<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Waggle</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!--link rel="stylesheet" href="../../../bootstrap/css/bootstrap-responsive.css"/-->

<!--link rel="stylesheet" href="../css/tablet.css"/-->

<link rel="stylesheet" href="../../static/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="../../static/codemirror/addon/hint/show-hint.css">

<style>
.CodeMirror {
    height: auto;
}

.spinnerbox {
    display:none; /* Hide the DIV */
    position:fixed;
    height:20%;
    width:100%;
    align:center;
    left: 0px;
    top: 278px;
    z-index:100;
    margin-left: 15px;
    padding:15px;
}

.modal-dialog {
    padding-top: 10%;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

#content, html, body {
    height: 98%;
}
#left {
    float: left;
    width: 100%;
    background: white;
    height: 100%;
    overflow: scroll;
}
#right {
    float: left;
    width: 100%;
    background: white;
    height: 100%;
    overflow: scroll;
}

</style>

<script src="../../static/codemirror/lib/codemirror.js"></script>
<script src="../../static/codemirror/addon/hint/show-hint.js"></script>
<script src="../../static/codemirror/addon/hint/javascript-hint.js"></script>
<script src="../../static/codemirror/mode/javascript/javascript.js"></script>
<script src="../../static/codemirror/mode/python/python.js"></script>
<script src="../../static/codemirror/mode/markdown/markdown.js"></script>

<script src="../../static/jquery/jquery-1.11.1.js"></script>
<script src="../../static/bootstrap/js/bootstrap.js"></script>

<!--script src="../../../js/DecimalFormat.js"></script-->


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<!--script src="js/jquery.mobile-1.1.0-rc.1.js"></script-->
<!--script src="js/jgestures.min.js"></script-->
<!--<script src="js/jquery.js"></script-->

<script type="text/javascript">
<!--

function submitOnEnter(myfield, e){
    var keycode;
    if(window.event)
        keycode = window.event.keyCode;
    else if(e)
        keycode = e.which;
    else
        return true;

    if (keycode == 13){
        myfield.form.submit();
        return false;
    }else
        return true;
}



function init(){

    var token = sessionStorage.getItem('token');

    //Should we revalidate???
    /*
    //This asks the validate servlet for our username (based on the session token).
    var http = new XMLHttpRequest();
    var params = "token="+token;
    http.open("POST", "../validate", true);

    //Send the proper header information along with the request
    http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

    http.onreadystatechange = function() {
    if(http.readyState == 4 && http.status == 200) {
    console.log("Response: "+http.responseText);

    if( http.responseText != null && http.responseText.length > 0 && http.responseText.trim() != "fail" ){

    success();

    //if fail to validate redirect to login page
    }else{

    window.location.href = "login.html";
    }


    }
    }
    http.send(params);
     */
    success();
}

function success(){

    var username = sessionStorage.getItem('username');
    var clientname = sessionStorage.getItem('clientname');

    if( clientname != null && clientname.length > 0 )
        $("#username").text(username+" ("+clientname+")");
    else
        $("#username").text(username);


    //load other stuff here?
}



function loadResults(){

    $('#resultsTable').hide();
    $('#previewTable').show();
    $(".spinnerbox").show();

    setTimeout(function(){

            $(".spinnerbox").hide();

            $('#previewTable').hide();
            $('#resultsTable').show();

            },3000);
}


function showHint(num){

    $('#myModal'+num).modal('show')

}


function showMore(){
    $('#less').hide();
    $('#more').show();
}

function showLess(){
    $('#more').hide();
    $('#less').show();
}


-->
</script>

<script>
function getinput(id, idx){
    alert("you clicked editor #".concat(id));
    var editor_id = "code-".concat(id)
    console.log(document.getElementById(editor_id));
    console.log(editors[idx].getValue());
}
</script>

</head>


<body onload="init();">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="profile.html" style="font-size:22px;">Waggle</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form" action="login.html">

                <span id="username" style="color:#fff;"></span>&nbsp;&nbsp;

                <!--div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button-->

                <button type="submit" class="btn btn-danger">Sign out</button>

            </form>
        </div><!--/.navbar-collapse -->
    </div>
</div>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="padding-bottom:15px;">
    <div class="container">
        <br/>

        <h2>Assessment Overview</h2>
        <br/>
        <p> In this section will be information the student needs to complete the challenges.</p>
    </div>
</div>
</div>


<div class="container">
<div class="row">
    <div class="col-md-8">
        <div id="content">

            <div id="left">

                <!-- Start triple -->
                {% for challenge in object_list%}
                <div class="panel panel-default">
                    <div class="panel-heading">Challenge #{{challenge.id}}</div>
                    <div class="panel-body"> {{ challenge.challenge_description|safe }}
                    <br/>
                    </div>
                    </div>

                <div class="panel panel-default">
                    <div class="panel-body">

<!-- CODE EDITOR GOES HERE.-->
<form style="border:1px solid grey; width:99%; height:200px;">
{% csrf_token %}
<textarea id="code-{{challenge.id }}" name="code-{{challenge.id }}" style="height:200px;">
# Type your python code here
</textarea>

</form>


                        <div style="width:90%;">
                            <button class="btn btn-primary" onclick="getinput({{challenge.id }}, {{forloop.counter0}});" style="float:left;">Run it!</button>
                        </div>

                    </div>
                    </div>


                <div class="panel panel-default">
                    <!-- OUTPUT/TEST RESULTS GO HERE. -->
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Name</th>
                                    <th>Short Description</th>
                                    <th>Long Description</th>
                                    <th>Help</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                    <span class="glyphicon glyphicon-hand-left"></span>
                                </td>
                                <td>{{name}}</td>
                                <td>{{short_msg}}</td>
                                <td>{{long_msg}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs btn-block">Python error message</button>
                                    <button type="button" class="btn btn-default btn-xs btn-block">Tell me more</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End triple -->
                {% endfor %}
            </div>
        </div>

    </div>
    <script>
        var editors = [];
        {% for challenge in object_list %}
        editors[ {{ forloop.counter0 }} ] = CodeMirror.fromTextArea(document.getElementById("code-{{challenge.id}}"), {
            mode: {name: "python",
                version: 3,
                singleLineStringErrors: false},
            lineNumbers: true,
            indentUnit: 4,
            matchBrackets: true
        });
        {% endfor %}
    </script>

    <div class="col-md-4">
        <div id="right">
            <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                */
                /*
                var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() {  // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//waggle2.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>
</div>



</body>
</html>



