<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Waggle</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="{{STATIC_URL}}/codemirror/addon/hint/show-hint.css">
<link rel="stylesheet" href="{{STATIC_URL}}/codemirror/addon/hint/show-hint.css">

<style>
.table-border tbody tr td, .table-border tbody tr th, .table-border thead tr th {
    border-bottom: 5px solid black;
    border-color: inherit;
}
.tab-pane{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.affix {
    position:fixed;
    top:70px;
    width:25%;
}

.CodeMirror {
    height: auto;
}

.spinnerbox {
    display:none; /* Hide the DIV */
    position:fixed;
    height:20%;
    width:100%;
    align:center;
    left: 0px;
    top: 278px;
    z-index:100;
    margin-left: 15px;
    padding:15px;
}

.modal-dialog {
    padding-top: 10%;
}

</style>
<script>
/*
$('#myAffix').affix({
    offset: {
        top: 100,
        bottom: function () {
        return (this.bottom = $('.footer').outerHeight(true))
    }
}
})
*/
</script>

<script src="{{STATIC_URL}}/codemirror/lib/codemirror.js"></script>
<script src="{{STATIC_URL}}/codemirror/addon/hint/show-hint.js"></script>
<script src="{{STATIC_URL}}/codemirror/addon/hint/javascript-hint.js"></script>
<script src="{{STATIC_URL}}/codemirror/addon/display/autorefresh.js"></script>
<script src="{{STATIC_URL}}/codemirror/mode/javascript/javascript.js"></script>
<script src="{{STATIC_URL}}/codemirror/mode/python/python.js"></script>
<script src="{{STATIC_URL}}/codemirror/mode/markdown/markdown.js"></script>

<script src="{{STATIC_URL}}/bootstrap/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="{{STATIC_URL}}/js-cookie/src/js.cookie.js"></script>

<script src="{{STATIC_URL}}/jquery/dist/jquery.js"></script>
<script src="{{STATIC_URL}}/bootstrap/js/bootstrap.js"></script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<!--script src="../../../js/DecimalFormat.js"></script-->


<!--script src="js/jquery.mobile-1.1.0-rc.1.js"></script-->
<!--script src="js/jgestures.min.js"></script-->
<!--<script src="js/jquery.js"></script-->


<script type="text/javascript">
<!--

var notes = [];

function submitOnEnter(myfield, e){
    var keycode;
    if(window.event)
        keycode = window.event.keyCode;
    else if(e)
        keycode = e.which;
    else
        return true;

    if (keycode == 13){
        myfield.form.submit();
        return false;
    }else
        return true;
}



function init(){

    var token = sessionStorage.getItem('token');

    //Should we revalidate???
    /*
    //This asks the validate servlet for our username (based on the session token).
    var http = new XMLHttpRequest();
    var params = "token="+token;
    http.open("POST", "../validate", true);

    //Send the proper header information along with the request
    http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

    http.onreadystatechange = function() {
    if(http.readyState == 4 && http.status == 200) {
    console.log("Response: "+http.responseText);

    if( http.responseText != null && http.responseText.length > 0 && http.responseText.trim() != "fail" ){

    success();

    //if fail to validate redirect to login page
    }else{

    window.location.href = "login.html";
    }


    }
    }
    http.send(params);
     */
    success();



}


function success(){

    var username = sessionStorage.getItem('username');
    var clientname = sessionStorage.getItem('clientname');

    if( clientname != null && clientname.length > 0 )
        $("#username").text(username+" ("+clientname+")");
    else
        $("#username").text(username);


    //load other stuff here?
}



function loadResults(){

    $('#resultsTable').hide();
    $('#previewTable').show();
    $(".spinnerbox").show();

    setTimeout(function(){

            $(".spinnerbox").hide();

            $('#previewTable').hide();
            $('#resultsTable').show();

            },3000);
}


function showHint(num){

    $('#myModal'+num).modal('show')

}


function showMore(){
    $('#less').hide();
    $('#more').show();
}

function showLess(){
    $('#more').hide();
    $('#less').show();
}

function takeNote(pauseOrPlay){

    var video = document.getElementById("video1");
    if( pauseOrPlay )
        video.pause();
    else
        video.play();
}

function saveNote(){

    var video = document.getElementById("video1");

    notes.push({text:$('#newNote').val(),time:video.currentTime});

    var minutes = parseInt( video.currentTime / 60 ) % 60;
    var seconds = Math.round(video.currentTime % 60);
    if( seconds < 10 )
        seconds = "0"+seconds;

    $('#noteTable').append('<tr><td colspan="2">'+$('#newNote').val()+' (<a href="#" onclick="goToNote('+video.currentTime+');">'+minutes+':'+seconds+'</a>)</td></tr>');

    $('#newNote').val("");

    video.play();
}

function goToNote(time){

    var video = document.getElementById("video1");

    video.pause();
    video.currentTime = time;
    video.play();

    return false;
}

/*
function switchToDebug(){

    //if Disqus exists, call it's reset method with new parameters
    DISQUS.reset({
        reload: true,
        config: function () {
        this.page.url = "http://0.0.0.0:8050/waggle/assessment.html";
        this.page.identifier = "abc";
        }
    });

}

function switchToAssessment(){
    //if Disqus exists, call it's reset method with new parameters
    DISQUS.reset({
        reload: true,
        config: function () {
        this.page.url = "http://0.0.0.0:8050/waggle/assessment.html#!assessment";
        this.page.identifier = "123";
        }
    });

}
*/

function fillTable(lineString,tableID){
    // parse string_list
    var table = document.getElementById(tableID);

    var arrayOfLines = lineString.match(/[^\r\n]+/g);
    // what if empty?
    var n = arrayOfLines.length;
    var counter=0;
    var longdArr = [];
    for (i = 0; i < n; i++) { 
        obj = JSON.parse(arrayOfLines[i]);
        for (var key in obj) {
            if (Object.prototype.hasOwnProperty.call(obj, key)) {
                var val = obj[key];
                console.log(key,val);
                var name = val['Name'];
                var shortd = val['Short'];
                longdArr.push(val['Long']);
                console.log(counter, longdArr[counter]);

                var row = table.insertRow(i+1);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                cell1.innerHTML = " <center><span style='color:red;' class= 'glyphicon glyphicon-thumbs-down'></span></center>";
                cell2.innerHTML = name;
                cell3.innerHTML = shortd;
                cell4.innerHTML = "<button type='button' class='btn btn-default btn-sm btn-block' data-toggle='modal' data-target='#longdModal'>Tell me more</button>"; 
                cell4.onclick = function() {document.getElementById("longd").innerHTML=longdArr[counter-1]};
                counter++;
                //make array for longd

                row.className = "table-border";
                cell1.className = "danger";
                cell2.className = "danger";
                cell3.className = "danger";
                cell4.className = "danger";;

                cell1.style = "vertical-align: middle;";;
                cell2.style = "vertical-align: middle;";
                cell3.style = "vertical-align: middle;";
                cell4.style = "vertical-align: middle;";
            }
        }
    }

}

function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
            console.log('User signed out.');
            });
}
</script>

</head>


<body onload="init();">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'waggle:profile' object.pk %}" style="font-size:22px;">Waggle</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form" action="{% url 'waggle:login' %}">

                <span id="username" style="color:#fff;"></span>&nbsp;&nbsp;

                <!--div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button-->

                <button type="submit" class="btn btn-danger" onclick="signOut()">Sign out</button>

            </form>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="padding-bottom:15px;">
    <div class="container">
        <br/>
        <img src="{{STATIC_URL}}/images/i15.png" width="48px" height="48px" style="float:left; margin-right:10px; margin-top:12px;"/>

        <h2>{{module_obj.name}}</h2>
        <p>{{module_obj.description}}</p>
        <br/>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
                <li role="presentation"><a href="#debug" aria-controls="debug" role="tab" data-toggle="tab" onclick="switchToDebug();">Debugging with Steve</a></li>
                <li role="presentation"><a href="#assessment" aria-controls="assessment" role="tab" data-toggle="tab" onclick="switchToAssessment();">Assessment</a></li>
                <li role="presentation"><a href="#other" aria-controls="other" role="tab" data-toggle="tab">Other</a></li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content" style="border: 1px ; border-top: 1px; height:100%; overflow-y:content;">

                <div role="tabpanel" class="tab-pane active" id="content">
                    {% for content in contents%}
                    
                    <iframe id="iframe" src="{{content.html_notebook.url}}" style="border:0px;" height=1000% width=95%></iframe>
                    {% endfor %}
                        
                </div>

                <div role="tabpanel" class="tab-pane" id="debug">
                    {% for content in contents%}
                    <br/>
                    <video id="video1" width="490" height="280" controls>
                        <source src="{{content.video.url}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <br/>
                    <table id="noteTable" class="table">
                        <tr>
                            <td style="border:none;">
                                <textarea id="newNote" rows="2" style="width:100%" onfocus="takeNote(true);" onblur="takeNote(false);"></textarea>
                            </td>
                            <td valign="middle" style="border:none; vertical-align:middle;">
                                &nbsp;<button type="button" class="btn btn-default" onclick="saveNote();">Save Note</button>
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none;">
                                <b>Notes:</b>
                            </td>
                            <td style="border:none;">
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane" id="assessment" style="background: white;">
                    <div id=triple>
                        <!-- Start Assessment triple -->
                        {% for assessment in assessments %}
                        {% for ap in object.students.assessmentprogress_set.all %}
                        {% if assessment == ap.assessment %} 
                        <div class="panel panel-default" style="border:0;">
                            <div class="panel-body"> {{ assessment.description|safe }}
                            </div>
                        </div>
                        <div class="panel panel-default" style="border:0;">
                            <div class="panel-body">
                                <!-- CODE EDITOR GOES HERE.-->
                                <form action="" method="post" style="border:1px solid grey; width:100%; height:200px;">
                                    {% csrf_token %}
<textarea id="code-{{assessment.id }}" name="code_id{{assessment.id}}" style="height:200px;">
{{ap.code_submission}}
</textarea>
                                    <br/>
                                    <input class="btn btn-default btn-xs" style="float:left;" type="submit" value="Submit Code" name="code_btn"/>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default" style="border:0;">
                            <!-- OUTPUT/TEST RESULTS GO HERE. -->
                            <div class="panel-body">
                                {% if not ap.errors_list %}
                                <h4> Run your code to receive feedback. </h4>
                                {% elif ap.errors_list == "good" %}

                                <h4> <span style='color:green;' class= 'glyphicon glyphicon-thumbs-up'></span> GOOD JOB! No errors were found. </h4>
                
                                {% elif ap.errors_list == "bad" %}
                                <h4> Errors were found however we're unable to provide feedback. Please try a different submission.</h4>
                                {% else %}
                                <table class="table table-condensed table-border" id="assessmentTable{{assessment.id}}">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Name</th>
                                            <th>Short Description</th>
                                            <th>Long Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <script>
                                        fillTable( "{{ap.errors_list|escapejs}}", "assessmentTable{{assessment.id}}");
                                    </script>
                                    </tbody>
                                </table>
                            {% endif %}
                            </div>
                        </div>
                        <!-- End triple -->
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="other">
                    {% for realted_item in relateds %}
                    ...
                    {% endfor %}
                    <center>
                        <hr>
                        <p>To interact with the notebook displayed in the content tab you'll need the .ipynb file in your pythonanywhere folder </p>
                        <hr>
                    </center>
                </div>

        <!-- Modal -->
        <div class="modal fade" id="longdModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <span id="longd"> empty </span>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
        
        <div class="col-md-4 col-sm-4">
            <div data-spy="affix" data-offset-top="200">

            <table id="previewTable" style="width:100%;">
                <tr>
                    <td>
                        <div id="disqus_thread"></div>
                        <script>

/**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
                           var disqus_config = function () {
                               this.page.url ="http://smccumsey.pythonanywhere.com/waggle/{{request.path}}";  // Replace PAGE_URL with your page's canonical URL variable
                               this.page.identifier = "/lesson/{{module_obj.name}}/"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                   };
                        (function() { // DON'T EDIT BELOW THIS LINE
                             var d = document, s = d.createElement('script');
                                 s.src = '//http-smccumsey-pythonanywhere-com.disqus.com/embed.js';
                                     s.setAttribute('data-timestamp', +new Date());
                                         (d.head || d.body).appendChild(s);
                                         })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </td>
                </tr>

            </table>
            <div id="disqus_container_2"></div>
        </div>

        <div class="spinnerbox">
            <center><img src="{{STATIC_URL}}/images/spinner.gif"/></center>
        </div>

    </div>
    </div>

    <script>
        var editors = [];
        {% for assessment in assessments %}
            editors[{{forloop.counter0}}] = CodeMirror.fromTextArea(document.getElementById("code-{{assessment.id}}"), {
            mode: {name: "python",
            version: 3,
            singleLineStringErrors: false},
            lineNumbers: true,
            indentUnit: 4,
            matchBrackets: true,
            autoRefresh: true,
            });
            setTimeout(function() {
                    editors[{{forloop.counter0}}].refresh()
                    }, 1);
        {% endfor %}
    </script>

    </body>
    </html>
