<html>

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Poco Modules</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


	<script type="text/javascript">

		function init(){

            success('{{object.email}}');

		}


		function success(username){

			sessionStorage.setItem('username', username);

			$("#username").text(username);


		}

	</script>

</head>


<body onload="init();">

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" style="font-size:22px;">Waggle</span>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form" action="{% url 'waggle:login' %}">

          	<span id="username" style="color:#fff;"></span>&nbsp;&nbsp;

            <!--div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button-->

            <button type="submit" class="btn btn-danger" onclick="signOut()">Sign out</button>

          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container-fluid">
      	<br/>
        <h2>Welcome to Waggle</h2>
      	<br/>
        <p>{{request.session.course_name|capfirst}}</p>
        <p>Below are your modules.  Each module is a set of challenges that will help you build your programming and data science skills.  Click a module below to get started.</p>
        <!--p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p-->
      </div>
    </div>


    <div class="container-fluid">

	  <center>
		  <table style="width:80%;">

            <!-- begin for -->

            {% for module in modules %}
			<tr>
				<td>
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header" style="padding:15px; width:100%; line-height:150%">
								<div style="float:right;">
									<!--Difficulty:
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>-->
									<br/>
									<br/>
									<br/>
                                    <a class="btn btn-primary" href="{% url 'waggle:lesson' pk=object.pk course=request.session.course_title module=module.id %}" role="button">Start this Module</a>
								</div>
                                <b>{{module.title}}</b>
							  	<br/>
                                <p> {{module.description}} </p>
							  	<br/>
							</div>
						 </div>
					 </nav>
				</td>
			</tr>
            {% endfor %}
            <!-- end for -->

		  </table>
      </center>

   	</div>

</body>

</html>
